--extra-index-url https://download.pytorch.org/whl/cpu

fastapi
uvicorn[standard]
pandas
openpyxl
python-dotenv
google-generativeai
numpy<2.0
torch==2.6.0+cpu
torchvision==0.21.0+cpu
torchaudio==2.6.0+cpu

sentence-transformers>=3.0.1
transformers>=4.44.2
chromadb